<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Maintenancedb" connectionString="Data Source=192.168.8.103;Initial Catalog=Maintenance;Persist Security Info=True;User ID=sa;Password=p@$$w0rd"
      providerName="System.Data.SqlClient" />
    <add name="EquipmentMonitoring.Properties.Settings.ConnectionString"
      connectionString="Provider=SQLNCLI11;Data Source=DESKTOP-OE9MKQI;User ID=sa;Initial Catalog=Maintenance"
      providerName="System.Data.OleDb" />
    <add name="EquipmentMonitoring.Properties.Settings.MaintenanceConnectionString"
      connectionString="Data Source=DESKTOP-OE9MKQI;Initial Catalog=Maintenance;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="EquipmentMonitoring.Properties.Settings.testconnection"
      connectionString="Data Source=DESKTOP-QCHPIN9;Initial Catalog=Maintenance;User ID=sa;Password=p@$$w0rd"
      providerName="System.Data.SqlClient" />
    <add name="EquipmentMonitoring.Properties.Settings.ReportMaintenanceConnectionString"
      connectionString="Data Source=(local);Initial Catalog=Maintenance;Integrated Security=True;Persist Security Info=True;User ID=sa;Password=p@$$w0rd"
      providerName="System.Data.SqlClient" />
    <add name="EquipmentMonitoring.Properties.Settings.Maintenance10072019"
      connectionString="Data Source=192.168.8.103;Initial Catalog=Maintenance;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=p@$$w0rd"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
